.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  border: 1px solid black;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.row {
  display: flex;
  flex-direction: row;
}